@layer components {
  /* ==================== BUTTON ==================== */
  .btn {
    @apply inline-flex items-center justify-center gap-2 font-sans font-medium rounded-sm transition-colors duration-150 select-none focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
  }

  .btn-disabled {
    @apply cursor-not-allowed opacity-50 pointer-events-none;
  }

  .btn-sm {
    @apply px-3 py-1.5 text-sm;
  }

  .btn-md {
    @apply px-4 py-2 text-base;
  }

  .btn-lg {
    @apply px-6 py-3 text-lg;
  }

  /* ---------- Primary ---------- */
  .btn-primary {
    @apply bg-primary-500 text-white shadow-xs;
  }

  .btn-primary:hover:not(:disabled) {
    @apply bg-primary-700;
  }

  .btn-primary:active:not(:disabled) {
    @apply bg-primary-900 shadow-none;
  }

  .btn-primary:focus-visible {
    @apply ring-primary-300;
  }

  /* ---------- Secondary ---------- */
  .btn-secondary {
    @apply bg-white text-primary-700 border border-primary-300 shadow-xs;
  }

  .btn-secondary:hover:not(:disabled) {
    @apply bg-primary-50 border-primary-500;
  }

  .btn-secondary:active:not(:disabled) {
    @apply bg-primary-100 border-primary-700;
  }

  .btn-secondary:focus-visible {
    @apply ring-primary-300;
  }

  .btn-danger {
    @apply text-white shadow-xs;
    background-color: var(--color-error);
  }

  .btn-danger:hover:not(:disabled) {
    background-color: color-mix(in srgb, var(--color-error) 85%, black);
  }

  .btn-danger:active:not(:disabled) {
    @apply shadow-none;
    background-color: color-mix(in srgb, var(--color-error) 70%, black);
  }

  .btn-danger:focus-visible {
    --tw-ring-color: var(--color-error);
  }

  /* ---------- Ghost ---------- */
  .btn-ghost {
    @apply bg-transparent text-neutral-700;
  }

  .btn-ghost:hover:not(:disabled) {
    @apply bg-neutral-100 text-neutral-900;
  }

  .btn-ghost:active:not(:disabled) {
    @apply bg-neutral-200;
  }

  .btn-ghost:focus-visible {
    @apply ring-neutral-300;
  }

  /* CHECKBOX */

  .checkbox-wrapper {
    @apply flex items-start gap-2;
  }

  .checkbox-indicatpor {
    @apply relative flex items-center h-5 shrink-0;
  }

  .checkbox-input {
    @apply sr-only;
  }

  .checkbox-box {
    @apply flex items-center justify-center rounded-xs border bg-white border-neutral-300 transition-colors;
    @apply peer-[:hover:not(:disabled)]:border-neutral-400;
    @apply peer-checked:bg-primary-500 peer-checked:border-primary-500;
    @apply peer-focus-visible:ring-2 peer-focus-visible:ring-primary-300 peer-focus-visible:ring-offset-1;
    @apply peer-disabled:bg-neutral-100 peer-disabled:border-neutral-200;
  }

  .checkbox-box-sm {
    @apply w-4 h-4;
  }

  .checkbox-box-md {
    @apply w-[18px] h-[18px];
  }

  .checkbox-box-lg {
    @apply w-5 h-5;
  }

  .checkbox-icon {
    @apply text-white;
  }

  .checkbox-label {
    @apply cursor-pointer text-neutral-700;
  }

  .checkbox-label-disabled {
    @apply cursor-not-allowed text-neutral-400;
  }

  .checkbox-label-text {
    @apply font-medium leading-5;
    color: inherit;
  }

  .checkbox-label-text-sm {
    @apply text-xs;
  }

  .checkbox-label-text-md {
    @apply text-sm;
  }

  .checkbox-label-text-lg {
    @apply text-base;
  }

  .checkbox-description {
    @apply text-xs mt-0.5;
    color: inherit;
    opacity: 0.85;
  }

  /* RADIOGROUP */
  .radio-group {
    @apply flex flex-col gap-2;
  }

  .radio-group-horizontal {
    @apply flex-row flex-wrap gap-x-4 gap-y-2;
  }

  .radio-wrapper {
    @apply flex items-start gap-2;
  }

  .radio-indicator {
    @apply relative flex items-center h-5 shrink-0;
  }

  .radio-input {
    @apply sr-only;
  }

  .radio-circle {
    @apply relative flex items-center justify-center rounded-full border bg-white border-neutral-300 transition-colors;
    @apply after:content-[''] after:block after:rounded-full after:bg-primary-500 after:opacity-0 after:transition-opacity;

    @apply peer-[:hover:not(:disabled)]:border-neutral-400;
    @apply peer-checked:border-primary-500 peer-checked:after:opacity-100;
    @apply peer-focus-visible:ring-2 peer-focus-visible:ring-primary-300 peer-focus-visible:ring-offset-1;
    @apply peer-disabled:bg-neutral-100 peer-disabled:border-neutral-200;
  }

  .radio-circle-sm {
    @apply w-4 h-4 after:w-1.5 after:h-1.5;
  }

  /* 16px, dot 6px */
  .radio-circle-md {
    @apply w-[18px] h-[18px] after:w-2 after:h-2;
  }

  /* 18px, dot 8px */
  .radio-circle-lg {
    @apply w-5 h-5 after:w-2.5 after:h-2.5;
  }

  /* 20px, dot 10px */

  .radio-label {
    @apply cursor-pointer text-neutral-700;
  }

  .radio-label-disabled {
    @apply cursor-not-allowed text-neutral-400;
  }

  .radio-label-text {
    @apply font-medium leading-5;
    color: inherit;
  }

  .radio-label-text-sm {
    @apply text-xs;
  }

  .radio-label-text-md {
    @apply text-sm;
  }

  .radio-label-text-lg {
    @apply text-base;
  }

  .radio-description {
    @apply text-xs mt-0.5;
    color: inherit;
    opacity: 0.85;
  }

  /* SWITCH */
  .switch-wrapper {
    @apply flex items-start gap-2;
  }

  .switch-indicator {
    @apply relative flex items-center shrink-0;
  }

  .switch-input {
    @apply sr-only;
  }

  .switch-track {
    @apply relative inline-flex items-center rounded-full border cursor-pointer transition-colors;
    @apply bg-neutral-300 border-neutral-300;
    @apply after:content-[''] after:absolute after:top-1/2 after:left-0.5 after:-translate-y-1/2;
    @apply after:rounded-full after:bg-white after:shadow-sm after:transition-transform;

    @apply peer-[:hover:not(:disabled)]:bg-neutral-400;
    @apply peer-checked:bg-primary-500 peer-checked:border-primary-300;
    @apply peer-checked:hover:bg-primary-300 peer-checked:hover:border-primary-300;
    @apply peer-focus-visible:ring-2 peer-focus-visible:ring-primary-300 peer-focus-visible:ring-offset-1;
    @apply peer-disabled:opacity-50 peer-disabled:cursor-not-allowed;
  }

  .switch-wrapper:hover:not(:has(.switch-input:disabled)) .switch-track {
    @apply bg-neutral-400;
  }

  .switch-wrapper:hover:not(:has(.switch-input:disabled))
    .switch-input:checked
    ~ .switch-track {
    @apply bg-primary-300 border-primary-300;
  }
  /* ------------------------- */

  .switch-track-sm {
    @apply w-8 h-[18px] after:w-3.5 after:h-3.5 peer-checked:after:translate-x-3.5;
  }
  .switch-track-md {
    @apply w-10 h-5 after:w-4 after:h-4 peer-checked:after:translate-x-5;
  }
  .switch-track-lg {
    @apply w-12 h-6 after:w-5 after:h-5 peer-checked:after:translate-x-6;
  }

  .switch-label {
    @apply cursor-pointer text-neutral-700;
  }

  .switch-label-disabled {
    @apply cursor-not-allowed text-neutral-400;
  }

  .switch-label-text {
    @apply font-medium leading-5;
    color: inherit;
  }
  .switch-label-text-sm {
    @apply text-xs;
  }
  .switch-label-text-md {
    @apply text-sm;
  }
  .switch-label-text-lg {
    @apply text-base;
  }

  .switch-description {
    @apply text-xs mt-0.5;
    color: inherit;
    opacity: 0.85;
  }
}
